@font-face {
    font-family: 'MetaPro-Black';
    src: url('../fonts/MetaPro-Black.eot');
    src: url('../fonts/MetaPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Black.woff2') format('woff2'),
        url('../fonts/MetaPro-Black.woff') format('woff'),
        url('../fonts/MetaPro-Black.ttf') format('truetype'),
        url('../fonts/MetaPro-Black.svg#MetaPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-BlackItalic';
    src: url('../fonts/MetaPro-BlackItalic.eot');
    src: url('../fonts/MetaPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-BlackItalic.woff') format('woff'),
        url('../fonts/MetaPro-BlackItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-BlackItalic.svg#MetaPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-Bold';
    src: url('../fonts/MetaPro-Bold.eot');
    src: url('../fonts/MetaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Bold.woff2') format('woff2'),
        url('../fonts/MetaPro-Bold.woff') format('woff'),
        url('../fonts/MetaPro-Bold.ttf') format('truetype'),
        url('../fonts/MetaPro-Bold.svg#MetaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-BoldItalic';
    src: url('../fonts/MetaPro-BoldItalic.eot');
    src: url('../fonts/MetaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-BoldItalic.woff') format('woff'),
        url('../fonts/MetaPro-BoldItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-BoldItalic.svg#MetaPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-Book';
    src: url('../fonts/MetaPro-Book.eot');
    src: url('../fonts/MetaPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Book.woff2') format('woff2'),
        url('../fonts/MetaPro-Book.woff') format('woff'),
        url('../fonts/MetaPro-Book.ttf') format('truetype'),
        url('../fonts/MetaPro-Book.svg#MetaPro-Book') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-BookItalic';
    src: url('../fonts/MetaPro-BookItalic.eot');
    src: url('../fonts/MetaPro-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-BookItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-BookItalic.woff') format('woff'),
        url('../fonts/MetaPro-BookItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-BookItalic.svg#MetaPro-BookItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondBold';
    src: url('../fonts/MetaPro-CondBold.eot');
    src: url('../fonts/MetaPro-CondBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBold.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBold.woff') format('woff'),
        url('../fonts/MetaPro-CondBold.ttf') format('truetype'),
        url('../fonts/MetaPro-CondBold.svg#MetaPro-CondBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondBoldItalic';
    src: url('../fonts/MetaPro-CondBoldItalic.eot');
    src: url('../fonts/MetaPro-CondBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBoldItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBoldItalic.woff') format('woff'),
        url('../fonts/MetaPro-CondBoldItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-CondBoldItalic.svg#MetaPro-CondBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondBook';
    src: url('../fonts/MetaPro-CondBook.eot');
    src: url('../fonts/MetaPro-CondBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBook.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBook.woff') format('woff'),
        url('../fonts/MetaPro-CondBook.ttf') format('truetype'),
        url('../fonts/MetaPro-CondBook.svg#MetaPro-CondBook') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondBookItalic';
    src: url('../fonts/MetaPro-CondBookItalic.eot');
    src: url('../fonts/MetaPro-CondBookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBookItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBookItalic.woff') format('woff'),
        url('../fonts/MetaPro-CondBookItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-CondBookItalic.svg#MetaPro-CondBookItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondBlack';
    src: url('../fonts/MetaPro-CondBlack.eot');
    src: url('../fonts/MetaPro-CondBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBlack.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBlack.woff') format('woff'),
        url('../fonts/MetaPro-CondBlack.ttf') format('truetype'),
        url('../fonts/MetaPro-CondBlack.svg#MetaPro-CondBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondBlackItalic';
    src: url('../fonts/MetaPro-CondBlackItalic.eot');
    src: url('../fonts/MetaPro-CondBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondBlackItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-CondBlackItalic.woff') format('woff'),
        url('../fonts/MetaPro-CondBlackItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-CondBlackItalic.svg#MetaPro-CondBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondMediumItalic';
    src: url('../fonts/MetaPro-CondMediumItalic.eot');
    src: url('../fonts/MetaPro-CondMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondMediumItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-CondMediumItalic.woff') format('woff'),
        url('../fonts/MetaPro-CondMediumItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-CondMediumItalic.svg#MetaPro-CondMediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondMedium';
    src: url('../fonts/MetaPro-CondMedium.eot');
    src: url('../fonts/MetaPro-CondMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondMedium.woff2') format('woff2'),
        url('../fonts/MetaPro-CondMedium.woff') format('woff'),
        url('../fonts/MetaPro-CondMedium.ttf') format('truetype'),
        url('../fonts/MetaPro-CondMedium.svg#MetaPro-CondMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-Cond';
    src: url('../fonts/MetaPro-Cond.eot');
    src: url('../fonts/MetaPro-Cond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Cond.woff2') format('woff2'),
        url('../fonts/MetaPro-Cond.woff') format('woff'),
        url('../fonts/MetaPro-Cond.ttf') format('truetype'),
        url('../fonts/MetaPro-Cond.svg#MetaPro-Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondItalic';
    src: url('../fonts/MetaPro-CondItalic.eot');
    src: url('../fonts/MetaPro-CondItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-CondItalic.woff') format('woff'),
        url('../fonts/MetaPro-CondItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-CondItalic.svg#MetaPro-CondItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-CondXbold';
    src: url('../fonts/MetaPro-CondXbold.eot');
    src: url('../fonts/MetaPro-CondXbold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondXbold.woff2') format('woff2'),
        url('../fonts/MetaPro-CondXbold.woff') format('woff'),
        url('../fonts/MetaPro-CondXbold.ttf') format('truetype'),
        url('../fonts/MetaPro-CondXbold.svg#MetaPro-CondXbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-CondXboldItalic';
    src: url('../fonts/MetaPro-CondXboldItalic.eot');
    src: url('../fonts/MetaPro-CondXboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-CondXboldItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-CondXboldItalic.woff') format('woff'),
        url('../fonts/MetaPro-CondXboldItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-CondXboldItalic.svg#MetaPro-CondXboldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-Light';
    src: url('../fonts/MetaPro-Light.eot');
    src: url('../fonts/MetaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Light.woff2') format('woff2'),
        url('../fonts/MetaPro-Light.woff') format('woff'),
        url('../fonts/MetaPro-Light.ttf') format('truetype'),
        url('../fonts/MetaPro-Light.svg#MetaPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-LightItalic';
    src: url('../fonts/MetaPro-LightItalic.eot');
    src: url('../fonts/MetaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-LightItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-LightItalic.woff') format('woff'),
        url('../fonts/MetaPro-LightItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-LightItalic.svg#MetaPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-MediumItalic';
    src: url('../fonts/MetaPro-MediumItalic.eot');
    src: url('../fonts/MetaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-MediumItalic.woff') format('woff'),
        url('../fonts/MetaPro-MediumItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-MediumItalic.svg#MetaPro-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-Medium';
    src: url('../fonts/MetaPro-Medium.eot');
    src: url('../fonts/MetaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Medium.woff2') format('woff2'),
        url('../fonts/MetaPro-Medium.woff') format('woff'),
        url('../fonts/MetaPro-Medium.ttf') format('truetype'),
        url('../fonts/MetaPro-Medium.svg#MetaPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-Italic';
    src: url('../fonts/MetaPro-Italic.eot');
    src: url('../fonts/MetaPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Italic.woff2') format('woff2'),
        url('../fonts/MetaPro-Italic.woff') format('woff'),
        url('../fonts/MetaPro-Italic.ttf') format('truetype'),
        url('../fonts/MetaPro-Italic.svg#MetaPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro-Thin';
    src: url('../fonts/MetaPro-Thin.eot');
    src: url('../fonts/MetaPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-Thin.woff2') format('woff2'),
        url('../fonts/MetaPro-Thin.woff') format('woff'),
        url('../fonts/MetaPro-Thin.ttf') format('truetype'),
        url('../fonts/MetaPro-Thin.svg#MetaPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-ThinItalic';
    src: url('../fonts/MetaPro-ThinItalic.eot');
    src: url('../fonts/MetaPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro-ThinItalic.woff2') format('woff2'),
        url('../fonts/MetaPro-ThinItalic.woff') format('woff'),
        url('../fonts/MetaPro-ThinItalic.ttf') format('truetype'),
        url('../fonts/MetaPro-ThinItalic.svg#MetaPro-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'MetaPro';
    src: url('../fonts/MetaPro.eot');
    src: url('../fonts/MetaPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MetaPro.woff2') format('woff2'),
        url('../fonts/MetaPro.woff') format('woff'),
        url('../fonts/MetaPro.ttf') format('truetype'),
        url('../fonts/MetaPro.svg#MetaPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

