
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box; /* Includes padding/border in element width */
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "MetaPro", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

header, nav, main, footer {
  display: block;
}

body.lock-scroll {
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #fff;
}
.navbar .container {
    align-items: flex-start;
}








/*Footer style*/
.main-footer {
    background-color: #000;
}

/* Contact Item Styling */
.icon-circle {
    width: 60px;
    height: 60px;
    border: 2px solid #c19b67; /* Bronze/Gold color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.icon-circle i {
    color: #c19b67;
    font-size: 1.5rem;
}

.footer-contact-item:hover .icon-circle {
    background-color: #c19b67;
}

.footer-contact-item:hover .icon-circle i {
    color: #000;
}

/* Link and Nav Styling */
.footer-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover, 
.footer-nav .nav-link:hover {
    color: #c19b67 !important;
}

.footer-nav .nav-link {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
}

.social-links a i {
    font-size: 1.2rem;
}

/* Utilities */
.border-secondary {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

@media (max-width: 991px) {
    .footer-nav .nav-link {
        padding: 5px 10px;
    }
}